<app-page-hero title="Akhand Path"
    icon="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
    description="Akhand Path is the continuous, front-to-back reading of the Guru Granth Sahib, often performed to mark significant occasions or to seek blessings.">
</app-page-hero>
<div class="page-container">
    <div class="max-w-5xl mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 dark:text-white">Akhand Path</h1>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            Akhand Path is the continuous, front-to-back, reading of the Guru Granth Sahib, the Sikh Holy Scriptures. It
            is
            a sacred ritual that is often performed to mark significant occasions or to seek blessings.
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            The Akhand Path is a continuous, uninterrupted, non-stop recital of all the verses in the Guru Granth Sahib,
            the
            Sikh Holy Scriptures. It is a sacred and cherished tradition in Sikhism, often performed to mark significant
            occasions or to seek blessings.
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            The recitation takes approximately 48 hours and is carried out by a team of readers who take turns to ensure
            that the reading continues without any breaks. The Akhand Path is usually conducted in the presence of the
            congregation, who listen to the recitation and participate in the prayers.
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            The Akhand Path is a powerful spiritual practice that brings peace, harmony, and divine blessings to the
            participants and the community. It is a time for reflection, devotion, and connection with the Guru's
            teachings.
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            The Akhand Path is often performed to commemorate important events such as births, weddings, anniversaries,
            and
            other significant milestones. It is also conducted during times of hardship or to seek divine guidance and
            support.
        </p>
        <p class="mt-4 text-gray-600 dark:text-gray-300">
            The Akhand Path is a beautiful and profound expression of faith and devotion in Sikhism. It is a reminder of
            the
            eternal presence of the Guru and the timeless wisdom contained in the Guru Granth Sahib.
        </p>
        <a href="/religious-services#akhand-path"
            class="text-primary-600 dark:text-primary-400 hover:underline mt-4 block text-lg font-semibold">Read
            More</a>
    </div>
</div>